<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>New Article</title>
    </head>
    <body>
        <form action="/articles" method="post">
            <input type="text" name="title" id="title">
            <input type="text" name="content" id="content">
            <input type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>
