<body>
    <h1>Lets Create a thing</h1>
<form action="/articles" method="POST">
    <p>Article Title: <input type="text" name="title"></p>
    <p>Article Content: <input type="text" name="content"></p>
    <input type="submit" id="Submit">
</form>
</body>